    .jvCTkj {
        height: 0.96rem;
        background: rgb(255, 255, 255);
        display: flex;
        -moz-box-align: center;
        align-items: center;
        box-sizing: content-box;
        padding: 0px 0.3rem;
    }

    .jvCTkj a {
        font-size: 0.3rem;
        font-weight: 400;
        text-align: center;
        color: rgb(67, 70, 105);
        margin-right: 0.33rem;
        display: flex;
        height: 100%;
        -moz-box-align: center;
        align-items: center;
        border-bottom: 0.07rem solid rgb(255, 255, 255);
    }

    .jvCTkj a img {
        width: 1.3rem;
        height: 0.37rem;
    }

    .jvCTkj a.active {
        border-bottom: 0.07rem solid rgb(67, 70, 105);
    }

    .gfuSqG {
        margin-top: 0.42rem;
    }

    .gfuSqG .radarColmn h2.title {
        display: flex;
        -moz-box-pack: justify;
        justify-content: space-between;
        -moz-box-align: center;
        align-items: center;
        font-size: 0.34rem;
        font-weight: 600;
        color: rgb(67, 70, 105);
        margin-bottom: 0.31rem;
        padding-right: 0.2rem;
    }

    .gfuSqG .radarColmn h2.title i {
        font-size: 0.3rem;
        color: rgb(31, 98, 255);
    }

    .gfuSqG .radarColmn h2.title a {
        font-size: 0.22rem;
        font-weight: 400;
        color: rgba(12, 16, 57, 0.5);
        display: flex;
        -moz-box-pack: center;
        justify-content: center;
        -moz-box-align: center;
        align-items: center;
        width: 1.1rem;
        height: 0.52rem;
        border: 0.01rem solid rgba(93, 96, 125, 0.3);
        border-radius: 0.27rem;
    }

    .gfuSqG .radarColmn .radarUnitWarp {
        display: flex;
        justify-content: space-around;
        margin-top: 0.26rem;
        background: rgb(255, 255, 255);
        border-radius: 0.12rem;
        box-shadow: rgba(0, 36, 96, 0.06) 0px 0.04rem 0.16rem 0px;
        padding: 0.34rem 0.4rem;
    }

    .gfuSqG .radarColmn .radarUnit dt,
    .gfuSqG .radarColmn .radarUnit dt img {
        width: 0.76rem;
        height: 0.76rem;
    }

    .gfuSqG .radarColmn .radarUnit dd:nth-of-type(1) {
        font-size: 0.26rem;
        font-weight: 400;
        text-align: center;
        color: rgb(12, 16, 57);
        margin: 0.05rem 0px;
    }

    .gfuSqG .radarColmn .radarUnit dd:nth-of-type(2) {
        font-size: 0.18rem;
        font-weight: 400;
        color: rgb(182, 183, 195);
        text-align: center;
    }

    .gfuSqG .radarColmn .radarUnit dd:nth-of-type(2) i {
        color: rgb(31, 98, 255);
    }


    .jcTaHb {
        margin-top: 0.42rem;
    }

    .jcTaHb h2 {
        display: flex;
        -moz-box-pack: justify;
        justify-content: space-between;
        -moz-box-align: center;
        align-items: center;
        font-size: 0.34rem;
        font-weight: 600;
        color: rgb(67, 70, 105);
        margin-bottom: 0.31rem;
        padding-right: 0.2rem;
    }

    .jcTaHb h2 a {
        font-size: 0.22rem;
        font-weight: 400;
        color: rgba(12, 16, 57, 0.5);
        display: flex;
        -moz-box-pack: center;
        justify-content: center;
        -moz-box-align: center;
        align-items: center;
        width: 1.1rem;
        height: 0.52rem;
        border: 0.01rem solid rgba(93, 96, 125, 0.3);
        border-radius: 0.27rem;
    }

    .jcTaHb .block {
        background: rgb(255, 255, 255);
        border-radius: 0.12rem;
        box-shadow: rgba(0, 36, 96, 0.04) 0px 0px 0.2rem 0px;
        padding: 0.29rem;
    }

    .jcTaHb .block .nav {
        display: flex;
        -moz-box-pack: justify;
        justify-content: space-between;
        -moz-box-align: center;
        align-items: center;
    }

    .jcTaHb .block .nav-item {
        font-size: 0.3rem;
        font-weight: 400;
        color: rgb(67, 70, 105);
        border-bottom: 3px solid rgb(255, 255, 255);
        padding-bottom: 0.05rem;
    }

    .jcTaHb .block .nav-item.active {
        color: rgb(0, 122, 255);
        border-bottom: 3px solid rgb(0, 122, 255);
    }

    .jcTaHb .block .cont {
        margin-top: 0.24rem;
    }

    .jcTaHb .block .cont img {
        width: 6.5rem;
        height: 2.72rem;
    }

    .hydYaP {
        background: rgb(31, 98, 255);
        border-radius: 0.12rem;
        box-shadow: rgba(0, 36, 96, 0.16) 0px 0.04rem 0.16rem 0px;
        display: flex;
        -moz-box-pack: justify;
        justify-content: space-between;
        padding: 0.3rem;
    }

    .hydYaP .left {
        display: flex;
        flex-direction: column;
    }

    .hydYaP .left h1 {
        font-size: 0.3rem;
        font-weight: 500;
        color: rgb(255, 255, 255);
        margin-bottom: 0.15rem;
    }

    .hydYaP .left p {
        font-size: 0.22rem;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.7);
        margin-bottom: 0.1rem;
    }

    .hydYaP .right {
        display: flex;
        flex-direction: column;
    }

    .hydYaP .right img {
        width: 1.23rem;
        height: 1.23rem;
        margin-top: 0.08rem;
    }

    .hydYaP .right div {
        font-size: 0.22rem;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.7);
        margin-top: 0.45rem;
    }

    .hydYaP .extendBlock {
        padding: 0px 0.4rem;
    }

    .hydYaP .extendBlock h2 {
        height: 0.48rem;
        font-size: 0.34rem;
        font-weight: 500;
        color: rgb(67, 70, 105);
        line-height: 0.48rem;
        margin: 0.4rem 0px;
    }

    .hydYaP .extendBlock .listItem {
        display: flex;
        -moz-box-pack: justify;
        justify-content: space-between;
        margin-bottom: 0.2rem;
    }

    .hydYaP .extendBlock .listItem .itemKey {
        font-size: 0.32rem;
        font-weight: 400;
        color: rgba(12, 16, 57, 0.5);
    }

    .hydYaP .extendBlock .listItem .itemVal {
        font-size: 0.32rem;
        font-weight: 500;
        color: rgba(12, 16, 57, 0.5);
    }

    .hydYaP .statement {
        height: 0.5rem;
        font-size: 0.26rem;
        font-weight: 400;
        color: rgb(0, 152, 255);
        line-height: 0.5rem;
        display: flex;
        -moz-box-pack: start;
        justify-content: flex-start;
        -moz-box-align: center;
        align-items: center;
        margin: 0.73rem 0px 0.39rem;
    }

    .hydYaP .statement img {
        width: 0.38rem;
        height: 0.38rem;
        margin-right: 0.13rem;
    }

    .hydYaP .extendList {
        height: 4.5rem;
        overflow-y: scroll;
    }

    .hydYaP .extendList li {
        font-size: 0.32rem;
        font-weight: 400;
        color: rgba(12, 16, 57, 0.5);
        margin-bottom: 0.2rem;
    }

    .hydYaP .extendBlock table {
        width: 100%;
        height: 4.8rem;
        overflow-y: scroll;
        display: block;
    }

    .hydYaP .extendBlock table th,
    .hydYaP .extendBlock table td {
        font-size: 0.32rem;
        font-weight: normal;
        text-align: center;
        border: 1px solid rgb(204, 204, 204);
        padding: 0.1rem;
    }

    .hydYaP .hidden {
        display: none;
    }

    .hydYaP .recodeParamWrap {
        height: 7rem;
        overflow-y: auto;
    }

    .jEEywD {
        margin-top: 0.42rem;
    }

    .jEEywD h2 {
        display: flex;
        -moz-box-pack: justify;
        justify-content: space-between;
        -moz-box-align: center;
        align-items: center;
        font-size: 0.34rem;
        font-weight: 600;
        color: rgb(67, 70, 105);
        margin-bottom: 0.31rem;
        padding-right: 0.2rem;
    }

    .jEEywD h2 a {
        font-size: 0.22rem;
        font-weight: 400;
        color: rgba(12, 16, 57, 0.5);
    }

    .iPexDg {
        background: rgb(255, 255, 255);
        border-radius: 0.12rem;
        box-shadow: rgba(0, 36, 96, 0.04) 0px 0px 0.2rem 0px;
        display: flex;
        -moz-box-pack: justify;
        justify-content: space-between;
        -moz-box-align: center;
        align-items: center;
        padding: 0.34rem 0.3rem;
        margin-bottom: 0.3rem;
    }

    .iPexDg .title {
        display: flex;
        -moz-box-pack: justify;
        justify-content: space-between;
        -moz-box-align: center;
        align-items: center;
        font-size: 0.34rem;
        font-weight: 600;
        color: rgb(67, 70, 105);
    }

    .iPexDg .title img {
        height: 0.9rem;
        margin-right: 0.26rem;
    }

    .iPexDg img.right {
        width: 0.15rem;
        height: 0.25rem;
    }

    .kpPvTx {
        text-align: center;
        margin: 0.5rem 0px;
    }

    .kpPvTx img {
        width: 2.5rem;
    }

    .kMthTr {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.eysHZq {
	width: 100%;
	height: 10rem;
	background: rgb(255, 255, 255);
	border-radius: 0.12rem 0.12rem 0px 0px;
	box-shadow: rgba(0, 36, 96, 0.16) 0px 0.04rem 0.16rem 0px;
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.eysHZq .close {
	background: url("../../assets/public/imgs/close.png") 0% 0% / cover;
	width: 0.35rem;
	height: 0.35rem;
	position: absolute;
	top: 0.3rem;
	right: 0.4rem;
}

.hydYaP .extendBlock {
	padding: 0px 0.4rem;
}

.hydYaP .statement {
	height: 0.5rem;
	font-size: 0.26rem;
	font-weight: 400;
	color: rgb(0, 152, 255);
	line-height: 0.5rem;
	display: flex;
	-moz-box-pack: start;
	justify-content: flex-start;
	-moz-box-align: center;
	align-items: center;
	margin: 0.73rem 0px 0.39rem;
}

.hydYaP .statement img {
	width: 0.38rem;
	height: 0.38rem;
	margin-right: 0.13rem;
}

.hydYaP .recodeParamWrap {
	height: 7rem;
	overflow-y: auto;
}

.hydYaP .extendBlock h2 {
	height: 0.48rem;
	font-size: 0.34rem;
	font-weight: 500;
	color: rgb(67, 70, 105);
	line-height: 0.48rem;
	margin: 0.4rem 0px;
}

.hydYaP .extendBlock .listItem {
	display: flex;
	-moz-box-pack: justify;
	justify-content: space-between;
	margin-bottom: 0.2rem;
}
